@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&family=Source+Sans+Pro:wght@300;400;700&display=swap');

:root{
  --green: #ABC270;
  --yellow: #FEC868;
  --peach: #FDA769;
  --brown: #473C33;
}

.App {
  text-align: center;
  font-family: 'Noto Serif JP', serif;
  font-family: 'Source Sans Pro', sans-serif;
}
