@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk&display=swap');
body {
  font-family: 'Josefin Sans', sans-serif;
}
body::-webkit-scrollbar{
  display: none;
}

:root{
  --green: #ABC270;
  --yellow: #FEC868;
  --peach: #FDA769;
  --brown: #473C33;
  --lightgreen:#90ee90;
  --cornblue: #6495ed;
  --lightgrey: #a9a9a9;
  --black: #121212;
  --greenOne:#DDFFBB;
  --greenTwo:#DDFFBB;
  --greenThree: #B3C99C;
  --greenFour: #A4BC92;
  --lav-purple:  #8e7a9b;
  --fav: #ffedc9;
}
